body {
    background-color: #0074cc;
font-family: Arial, sans-serif;
margin: 0;
padding: 0;
}
header {
    background-color: #0074cc;
    color: #fff;
    text-align: center;
    padding: 20px;
}
h1 {
    font-size: 36px;
}
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
label {
    font-weight: bold;
    text-align: left;
}
input[type="text"], textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
}
button {
    background-color: #0074cc;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}
.logo img{
border-radius: 50%;
width: 350px;
height: 350px;
padding-top: 10px;
}
.header{
text-align: center;
border-radius: 10px;
width: 100%;
height: 400px;
}
.menuNavegacao{
background-color: #004080;
text-align: center;
border-radius: 20px;
padding: 2px;
}
.menuNavegacao a{
padding: 50px;
text-decoration: none;
color: white;
font-size: 22px;
}

@media screen and (max-width: 700px) {
    .menuNavegacao a {
        font-size: 20px;
        padding: auto;
        margin: auto;
        text-align: center;
    }

    .logo img{
        width: 60%;
        height: 60%;
        padding: auto;
        margin: auto;
    }
    
    .container{
        width: 70%;
        height: 100%;
    }
    
    .menuNavegacao{
        height: auto;
        display: inline-flex;
    }

    fomr{
        width: auto;
        height: auto;
    }
}