*{
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #0074cc;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header{
    text-align: center;
    border-radius: 10px;
    width: 100%;
    height: 400px;
}

.logo img{
    border-radius: 50%;
    width: 400px;
    height: 400px;
    padding-top: 10px;
}

.menuNavegacao{
    background-color: #004080;
    text-align: center;
    border-radius: 20px;
    padding: 2px;
}
.menuNavegacao a{
    padding: 50px;
    text-decoration: none;
    color: white;
    font-size: 22px;
}


.portifolio{
    display: flex;
    background-color: #004080;
    border-radius: 10px;
    margin-top: 70px;
}


.imagens img{
    width: 32%;
    height: 377px;
    margin-left: 14px;
    margin-top: 10px;
    margin-bottom: 5px;
    border-style: hidden;
    border-radius: 5px;
}


.noticias{
    display: flex;
    text-align: justify;
}    


.not2{
    width: 40%;
    background-color: #004080;
    padding: 15px;
    margin: 15px;
    border-radius: 10px;
    color: white;
    font-size: 20px;
}
.not2 img{
    width: 100%;
   
}

.not2, .not1 h2{
    text-align: center;
}

.not1{
    width: 30%;
    background-color: #004080;
    margin: 15px;
    padding: 15px;
    border-radius: 15px;
    color: white;
    font-size: 19px;
}
.not1 img{
    width: 100%;
    
}


.rodape{
    background-color: #004080;
    height: 40px;
    text-align: center;
    font-size: 16px;
    color: white;
    margin: 20px;
}
.rodape p{
    justify-content: center;
    text-align: center;
    padding: 10px;
}

#h1{
    color: white;
    text-align: center;
    font-size: xxx-large;
    margin-top: 35px;
    padding: 30px;
}



@media screen and (max-width: 700px) {
    .menuNavegacao a {
        font-size: 15px;
        padding: auto;
        margin: auto;
        text-align: center;
    }

    .logo img{
        width: 60%;
        height: 60%;
        padding: auto;
        margin: auto;
    }
    .portifolio img{
        width: 95%;
        height: 31%;
        padding: auto;
        margin: 10px;
    }
    .portifolio {
        width: 90%;
        height: 950px;
        padding: auto;
        margin: auto;
        margin-top: 60px;
    }
    .not1, .not2{
        width: 80%;
        padding: auto;
        margin: auto;
        margin-top: 20px;
    }
    
    .noticias{
        display: grid;
    }
    .noticias p{
        font-size: small;
    }
    .noticias h2{
        font-size: medium;
    }
    .menuNavegacao{
        height: auto;
        display: inline-flex;
    }
}


